# Build output
dist
node_modules
coverage

# Config files
*.js
*.cjs
*.mjs
vitest.config.ts
vitest.e2e.config.ts
playwright.*.config.ts

# Test directories
tests/platforms/**/*
tests/e2e/**/*

# Other
examples
benchmarks
